Instrucciones
TEST
TEST2
 
# Node
node_modules/
dist/

#Logs
*.log 
#Keystore
keystore.json
*.keystore

#telegram-bot-test
src/telegram-bot.ts
src/agent.ts
.env.agent
.env.telegram
.env.telegram-stokenet
.env.*
env.*

